{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4">
        <div class="loginimage">
            <img src="/media/images/trophy2.jpg"  style="padding:5px;" alt="image">
        </div>
    </div>
    <div class="col-md-4 contain" style="padding:180px;"></div>
      <div class="col-md-4 ">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

          <p style="text-align: center">Don't have an Account? <a href="/accounts/register/"><br>
            Sign Up Here</a></p>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}