{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">
       

        <h2>{{user}}</h2><hr>
        <h2>{{projects_profile.profile_pic}}</h2>
        <h2>Bio: {{ projects_profile.bio}}</h2><hr> 
        <h2>Projects posted: 
            <ul>
                <li>{{projects_item.title}}</li>
            </ul>
        </h2><hr>  
        <h2>Contacts: {{ projects_profile.contacts}} </h2><hr>   
        <a href="/new/profile" button class="btn btn-warning" type="submit" name="button">Edit Profile</button></a>       
     
    </div>

{% endblock %}