{%extends 'base.html'%}

{% block content %}
{{block.super}}

{% for project in projects %}

<div class="row">

  <!-- displaying projects -->
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="col-md-10">
          <div class="w3-card-4" style="width:60%">
    <h2 class="text-center"> {{ project.title }} </h2>
    <img src="{{project.projects_image.url}}" class="img-responsive" alt="Image">
    <h3>{{ project.description }}</h3><hr>
    <button class="btn btn-info" type="submit" name="button">Review</button> 
    <a href="{{project.link_url}}" button class="btn btn-success" type="submit" name="button">Project Link</button></a> 
  </div>

</div>

</div>

</div>



{% endfor %}


  
  {% endblock %}