{%extends 'base.html'%}

{% block content %}
{{block.super}}

{% for project in projects %}

<div class="container">

  <!-- displaying projects -->
    <div class="col-md-4">
    <h2 class="text-center"> {{ project.title }} </h2>
    <img class="img-responsive"  src="{{project.projects_image.url}}" class="img-responsive" alt="Image">
    <h3>{{ project.description }}</h3><hr>
    <button class="btn btn-info" type="submit" name="button">Review</button> 
    <a href="{{project.link_url}}" button class="btn btn-success" type="submit" name="button">Project Link</button></a> 
  </div>

</div>





{% endfor %}


  
  {% endblock %}