{%extends 'base.html'%}
{{block.supper}}
{%load bootstrap3%}
{%block content%}

<div  class="container prof">
  <br><br>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-8">
      
      <br>
      <hr class="info">
      <div class="tags">
      </div>
      <br>
      <div class="uploads">
        <form class="form-group" action="{%url 'new_profile'%}" method="post" enctype="multipart/form-data">
          <h3>Profile</h3>
          {% csrf_token%}
          {% bootstrap_form form%}
          
          <button class="btn btn-info" type="submit" name="button">Upload</button>
        </form>
      </div>
     </div>
    <div class="col-md-1"> </div>

  </div>
</div>
{%endblock%}